[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-quotes = "*"
pytest = "*"
sphinx = "*"
pytest-cov = "*"

[packages]
flask = "*"
python-dotenv = "*"
fast-arrow = "*"
pyjwt = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
