[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-quotes = "*"
pytest = "*"
sphinx = "*"
pytest-cov = "*"

[packages]
flask = "*"
python-dotenv = "*"
fast-arrow = "*"
pyjwt = "*"
gunicorn = "*"

[requires]
python_version = "3.6"

[scripts]
deploy = "pipenv run python ./deploy.py"
docs = "pipenv run python ./docs.py"
lint = "pipenv run pylint **/*.py"
serve = "pipenv run sh ./serve.sh"
tests = "pipenv run python -m pytest --cov=marian tests"
