[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-quotes = "*"
pytest = "*"
sphinx = "*"
pytest-cov = "*"
codecov = "*"

[packages]
flask = "*"
python-dotenv = "*"
fast-arrow = "*"
pyjwt = "*"
gunicorn = "*"

[requires]
python_version = "3.6"

[scripts]
deploy = "python ./deploy.py"
docs = "python ./docs.py"
linting = "pylint **/*.py"
unit_tests = "python -m pytest --cov=marian tests"
serve = "sh ./serve.sh"
