<!doctype html>
<head>
  <title>Marian by nebulousdog</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <script src="/javascripts/main.js"></script>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
  <header>
    <a href="/">
      <h1 class="marian-title"><img class="marian-logo" src="/images/favicon.ico" alt="icon">Marian</h1>
    </a>
    Find documentation at
    <a target="_blank" href="https://github.com/nebulousdog/marian">github.com/nebulousdog/marian</a>.
  </header>
  <hr>
  <main>
