<!doctype html>
<head>
  <title>Lazy Money Maker by nebulousdog</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <script src="/javascripts/main.js"></script>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
  <header>
    <a href="/">
      <h1 class="lazy-title"><img class="lazy-logo" src="/images/favicon.ico" alt="icon">Lazy Money Maker</h1>
    </a>
    Find documentation at
    <a target="_blank" href="https://github.com/nebulousdog/lazy_money_maker">github.com/nebulousdog/lazy_money_maker</a>.
  </header>
  <hr>
  <main>
