<!doctype html>
<head>
  <title>Lazy Money Maker by nebulousdog</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <script src="/javascripts/main.js"></script>
</head>
<body>
  Find documentation at
  <a target="_blank" href="https://github.com/nebulousdog/lazy_money_maker">github.com/nebulousdog/lazy_money_maker</a>.
  <br>
  <br>
  <hr>
  <h2>Routes</h2>
  <pre>
  {% for route in routes %}
  {{ route }}
  {% endfor %}
  </pre>
  <br>
  <br>
  <hr>
  <br>
  <pre>🐈</pre>
</body>
